{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/select2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/date-picker.css' %}">
{% endblock %}
    
{% block content %} 

{% include "miscellaneous/job-search/components/job-apply.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.custom.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>

{% endblock %}