{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/datatable-extension.css' %}">
{% endblock %}
    
{% block content %} 

{% include "forms-table/table/Ex-data-table/components/datatable-ext-autofill.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.autoFill.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.colReorder.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-extension/custom.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    
{% endblock %}