{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/quill.snow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/intltelinput.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/tagify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/dropzone.css' %}">
{% endblock %}
    
{% block content %} 

{% include "applications/ecommerce/components/add-products.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/flat-pickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/js/flat-pickr/custom-flatpickr.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
<script src="{% static 'assets/js/select2/tagify.js' %}"></script>
<script src="{% static 'assets/js/select2/tagify.polyfills.min.js' %}"></script>
<script src="{% static 'assets/js/select2/intltelinput.min.js' %}"></script>
<script src="{% static 'assets/js/add-product/select4-custom.js' %}"></script>
<script src="{% static 'assets/js/editors/quill.js' %}"></script>
<script src="{% static 'assets/js/custom-add-product.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    
{% endblock %}