{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/js-datatables/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/owlcarousel.css' %}">
{% endblock %}
    
{% block content %} 

{% include "applications/ecommerce/components/category.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/js-datatables/simple-datatables@latest.js' %}"></script>
<script src="{% static 'assets/js/custom-list-product.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>
   
{% endblock %}