{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/dropzone.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/filepond.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/filepond-plugin-image-preview.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/bonus-ui/components/dropzone.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/dropzone/dropzone.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-image-preview.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-file-rename.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-image-transform.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/js/filepond/custom-filepond.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>

{% endblock %} 
    