{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/image-cropper.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/bonus-ui/components/image-cropper.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/image-cropper/cropper.js' %}"></script>
<script src="{% static 'assets/js/image-cropper/cropper-main.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %} 