{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/rating.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/bonus-ui/components/rating.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/rating/emoji_rating.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %} 