{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/scrollable.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/bonus-ui/components/scrollable.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/scrollable/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/scrollable/scrollable-custom.js' %}"></script>

{% endblock %} 