{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/sweetalert2.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/bonus-ui/components/sweet-alert2.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/sweet-alert/app.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %} 