{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/whether-icon.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/icons/components/whether-icon.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/icons/icons-notify.js' %}"></script>
<script src="{% static 'assets/js/icons/whether-icon-clipart.js' %}"></script>

{% endblock %} 