{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/jsgrid.css' %}">
{% endblock %}
    
{% block content %} 

{% include "forms-table/table/js-grid-table/components/jsgrid-table.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/jsgrid/jsgrid.min.js' %}"></script>
<script src="{% static 'assets/js/jsgrid/griddata.js' %}"></script>
<script src="{% static 'assets/js/jsgrid/jsgrid.js' %}"></script>

{% endblock %}