{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/echart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/date-picker.css' %}">

{% endblock %}
    
{% block content %} 

{% include "general/dashboard/default/components/container-fluid.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/moment.min.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/esl.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/config.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/pie-chart/facePrint.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/pie-chart/testHelper.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/pie-chart/custom-transition-texture.js' %}"></script>
<script src="{% static 'assets/js/chart/echart/data/symbols.js' %}"></script>
<!-- calendar js-->
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.custom.js' %}"></script>
<script src="{% static 'assets/js/dashboard/dashboard_3.js' %}"></script>

{% endblock %} 


