{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/select2.css' %}">
{% endblock %}
    
{% block content %} 

{% include "applications/task/components/task.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js' %}"></script>

{% endblock %}