{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/prism.css' %}">
{% endblock %}
    
{% block content %} 

{% include "components/ui-kits/components/popover.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/popover-custom.js' %}"></script>

{% endblock %} 