{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/calendar.css' %}">
{% endblock %}
    
{% block content %} 

{% include "applications/calendar/components/calendar-basic.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/calendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'assets/js/calendar/fullcalendar-custom.js' %}"></script>

{% endblock %}