{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
{% endblock %}
    
{% block content %} 

{% include "miscellaneous/editors/components/ace-code-editor.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/editor/ace-editor/ace.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/ace-custom.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/mode-css.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/mode-html.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/mode-javascript.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/mode-php.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/theme-monokai.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/worker-css.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/worker-html.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/worker-javascript.js' %}"></script>
<script src="{% static 'assets/js/editor/ace-editor/worker-php.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    
{% endblock %}