{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
{% endblock %}
    
{% block content %} 

{% include "components/charts/components/chart-flot.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/chart/flot-chart/excanvas.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.time.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.categories.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.stack.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.pie.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/jquery.flot.symbol.js' %}"></script>
<script src="{% static 'assets/js/chart/flot-chart/flot-script.js' %}"></script>

{% endblock %} 