{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
{% endblock %}
    
{% block content %} 

{% include "components/charts/components/chart-morris.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/chart/morris-chart/raphael.js' %}"></script>
<script src="{% static 'assets/js/chart/morris-chart/morris.js' %}"> </script>
<script src="{% static 'assets/js/chart/morris-chart/prettify.min.js' %}"></script>
<script src="{% static 'assets/js/chart/morris-chart/morris-script.js' %}"></script>

{% endblock %} 