{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/intltelinput.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/tagify.css' %}">
{% endblock %}
    
{% block content %} 

{% include "forms-table/forms/form-widgets/components/select2.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/select2/tagify.js' %}"></script>
<script src="{% static 'assets/js/select2/tagify.polyfills.min.js' %}"></script>
<script src="{% static 'assets/js/select2/intltelinput.min.js' %}"></script>
<script src="{% static 'assets/js/select2/telephone-input.js' %}"></script>
<script src="{% static 'assets/js/select2/custom-inputsearch.js' %}"></script>
<script src="{% static 'assets/js/select2/select3-custom.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %}