{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header"> 
          <h4>Bar Chart</h4>
        </div>
        <div class="card-body chart-block"> 
          <canvas id="myBarGraph"> </canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>Line Graph</h4>
        </div>
        <div class="card-body chart-block">
          <canvas id="myGraph"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>Radar Graph</h4>
        </div>
        <div class="card-body chart-block">
          <canvas id="myRadarGraph"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>Line Chart</h4>
        </div>
        <div class="card-body chart-block">
          <canvas id="myLineCharts"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>Doughnut Chart</h4>
        </div>
        <div class="card-body chart-block chart-vertical-center">
          <canvas id="myDoughnutGraph"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>Polar Chart</h4>
        </div>
        <div class="card-body chart-block chart-vertical-center">
          <canvas id="myPolarGraph"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->