{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/emoji/uikit.min.css' %}">
{% endblock %}
    
{% block content %} 

{% include "applications/chat/components/group-chat.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/common-chat.js' %}"></script>
<script src="{% static 'assets/js/emoji-js/uikit.min.js' %}"></script>
<script src="{% static 'assets/js/emoji-js/custom-emoji.js' %}"></script>
<script src="{% static 'assets/js/emoji-js/custom-emojis.js' %}"></script>

{% endblock %}
   