{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/photoswipe.css' %}">
{% endblock %}
    
{% block content %} 

{% include "miscellaneous/gallery/components/gallery.html" %}

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe.js' %}"></script>

{% endblock %}